/*  Purple Dream colors */
@color-purple:    #AB1FD8;
@color-turquois:  #00FFE0;
@color-green:     #ABC65D;
@color-orange:    #DFB626;
@color-pink:      #fe57a1;
@color-link:      #cccccc;

/* Mobimon colors*/
@color-blue: #152934;
@text-color:  #fff;

@color-bg:    @color-blue;

@materialBoxShadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
