/* Base Application Styles */
@import '../../utils/less/variables.less';
@import '../../utils/less/mixins.less';

html, body, #app {
  color: @text-color;
  background-color: @color-bg;
  .sans-serif-family();
  height: 100vh;
}

#app { padding: 20px 0; }

.app-container {
  height: 100%;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.material-shadow {
  box-shadow: @materialBoxShadow;
}

.gameIndex,
.gameInfoPanel {
  display: none;
}
